main {
    padding-top: 68px;
}

/* About me */

.content{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    max-width: 50em;
}

#about-me {
    display: flex;
    flex-direction: row;
    padding: 1.2em 2em;
}

#about {
    color: #4E9AED;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: 2em;  
    
}

#me {
    color: #005F7E;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.about-me_text {
    color: var(--text-color);
    font-family: Inter;
    font-weight: bold;
    line-height: 1.4;
    font-size: 18px;
    margin-top: 16px;
}

#read-more {
    padding: 1em 0;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: bold;
    font-weight: 700;
    cursor: pointer;
}

/* Certification */

#certification-h1 {
    color: var(--footer-icons);
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: 2em;
    padding: 1em 1em;
}

#certifications {
    padding-top: 1.4em;
    overflow: hidden;
}

#certifications-content {
    background-color: var(--footer-color);
    border-radius: 16px;
    margin: 0 1em;
}

#certifications-scroll {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    gap: 20px;
    overflow-x: auto; /* Habilita o scroll horizontal */
    padding: 1em 1em; /* Adiciona padding para espaçamento */
    scrollbar-width: thin; /* Estilo da barra de scroll (para navegadores modernos) */
    scrollbar-color: var(--footer-icons) var(--footer-color); /* Cor da barra de scroll */
    scroll-behavior: smooth; /* Adiciona suavidade ao scroll */
    border: 10px solid var(--footer-color);
    border-radius: 16px;
}

.card {
    width: 300px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card.expanded {
    width: 500px;
    height: 350px;
}

.card.expanded_vertical {
    width: 300px;
    height: 500px;
}

.card.expanded img {
    transform: scale(1.1);
}
