@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media screen and (max-width: 767px) {
    .header-icons {
        display: inline-flex;
    }

    #about-me_img img {
        display: none;
    }

    #about-me {
        padding: 20px, 32px;
    }

    #dots {
        display: block;
    }

    #read-more {
        display: block;
    }

    #full-text {
        display: none;
    }

    .content {
        width: 100%;
    }

    #check:checked~.header-icons #menu-icon{
        display: none;
    }

    #check:checked~.header-icons #close-icon{
        display: block;
    }

    #nav-bar {
        position: absolute;
        flex-direction: column;
        top: 75%;
        left: 0;
        width: 100%;
        height: 0;
        background: var(--footer-color);
        overflow: hidden;
        transition: .3s ease;
        border-radius: 0px 0px 15px 15px;
        
    }

    #close-icon {
        display: none;
    }

    #nav-bar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.1rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    #check:checked~#nav-bar {
        height: 12rem;
    }

    #check:checked~#nav-bar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
    }

    .footer-text, .footer-detail{
        display: none;
    }

    #footer{
        justify-content: center;
    }
}