* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #eef5fd;
    width: 100%;
    cursor: default;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--footer-color);
    justify-content: space-between;
    height: 3em;
    /* border: 10px solid var(--footer-color); */
    border-radius: 0px 0px 15px 15px;
}

#check {
    display: none;
}

.header-icons {
    font-size: 2.8rem;
    color: var(--footer-icons);
    display: none;
    position: absolute;
    right: 5%;
    cursor: pointer;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-bar a:hover{
    color: var(--footer-icons-hover);
}

#name{
    padding-left: 2em;
    font-family: Inter;
    color: var(--footer-icons);
    font-size: medium;
    font-weight: bold;
}

.nav-button{
    color: var(--footer-icons);
    padding-inline: 2em;
}

.link{
    font-family: inter;
    color: var(--footer-icons);
    text-decoration: none;
}

#footer {
    background: var(--footer-color);
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10em;
}

.icon{
    fill: var(--footer-icons);
}

.icon:hover{
    fill: var(--footer-icons-hover);
}

.footer-text{
    font-family: Inter;
    color: var(--footer-icons);
    font-weight: 400;
    font-size: 1rem;
}

#stay{
    font-family: Inter;
    color: var(--footer-icons);
    font-weight: bolder;
    font-size: 20px;
}