* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #EAF4FF;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #0A80A7;
    justify-content: space-between;
    height: 3em;
    border: 10px solid #0A80A7;
    border-radius: 0px 0px 15px 15px;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#name{
    padding-left: 2em;
    font-family: Inter;
    color: #EAF4FF;
    font-size: medium;
    font-weight: bold;
}

.nav-button{
    color: #EAF4FF;
    padding-inline: 2em;
}

.link{
    font-family: inter;
    color: #EAF4FF;
    text-decoration: none;
}

main{
    min-height: 30em;
}

#content{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 20px 68px;
    max-width: 50em;

}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--footer-color);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.footer-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10em;
}

.icon{
    fill: var(--footer-icons);
}

.icon:hover{
    fill: var(--footer-icons-hover);
}

.footer-text{
    font-family: Inter;
    color: var(--footer-icons);
    font-weight: 400;
    font-size: 16px;
}

#stay{
    font-family: Inter;
    color: var(--footer-icons);
    font-weight: bolder;
    font-size: 20px;
}